In [ ]:
Q1. In the below elements which of them are values or an expression? 
eg:- values can be integer or string and expressions will be mathematical operators.
*                        Operator
'hello'				      value
-87.8				      value
- 				      operator
/ 				     Operator
+	  			    operator
6 				   value

In [ ]:
Q2. What is the difference between string and variable?
Ans. A variable is something that can store a value. A string is a value whose contents are treated as text.

In [ ]:
Q3. Describe three different data types.
Ans. 
    1. Numeric: these data types are used to store numeric values:
    i)integer: store integer values
    ii)float: stores floating point numbers 
    iii)complex: used to store complex numbers 
    2. Sequence data types: these data types are used to store ordered collection of similar  or different data.
    i)string: ordered collection of characters.
    ii)list: array of similar or different type of data. 
    iii)tuples: they are same like array, only difference is, they are immutable.
    3. Boolean: it is a data type that contain one of the two built in values; i.e. true or false

In [ ]:
Q4. What is an expression made up of? What do all expressions do?
Ans. Expression is made up of operators, variables and constants. Expressions evaluate to generate a value.

In [ ]:
Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Ans. Expressions evaluate to a value, assign statements are used to assign some value to variable.

In [ ]:
Q6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
Ans. 22

In [2]:
bacon=22

In [3]:
bacon+1

23

In [4]:
bacon

22

In [ ]:
Q7. What should the values of the following two terms be?
ANS:     'spam' + 'spamspam'  =     ‘spamspamspam’
'spam' * 3 = ‘spamspamspam’

In [5]:
'spam' + 'spamspam'

'spamspamspam'

In [7]:
'spam' * 3

'spamspamspam'

In [ ]:
Q8. Why is eggs a valid variable name while 100 is invalid?
Ans. Because a variable name cannot start with a number . it should start with letter or underscore character.

In [ ]:
Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?
Ans.     Integer version of x: int(x)
	Floating point number version of x: float(x)
	string version of x: str(x)

In [ ]:
Q10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
Ans. This expression gives error because we cannot concatenate an integer to a string .
	To fix this we need to change data type of integer to string.
	i.e. 'I have eaten ' + '99 ' + ' burritos.'

In [8]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [9]:
'I have eaten ' + '99 ' + ' burritos.'

'I have eaten 99  burritos.'